.nav {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
}
.nav > h2 {
  margin-right: 10px;
  padding: 5px 20px;
  opacity: 0.7;
  transition: transform 50ms ease-out;
  cursor: pointer;
  font-size: medium;
}
.nav > h2:hover {
  opacity: 1;
  transform: scale(1.2);
}

.nav::-webkit-scrollbar {
  display: none;
}
.nav {
  -ms-overflow-style: none;
  scrollbar-width: 0px;
}
